.navbar {
    background-color: #00796B;
    border-radius: 0;
    box-shadow: 0px 0px 10px 5px #BBB;
}
a.navbar-brand {
    color:#FFFFFF !important;
}
@media print {
    * {
        font-family:"Helvetica Neue", "Roboto", "Helvetica", "Century Gothic", "Verdana", sans-serif;
    }
    h1, h2, h3, h4, h5, h6 {
        font-weight: bold;
    }
    h2, h3, h4, h5, h6 {
        font-family:"Roboto Slab", "Roboto", "Times", serif;
    }
    .print-hidden {
        display:none;
    }
}